@charset "UTF-8";

/*
	CSS Stylesheet Crop
	October 2019
	Powered by AyMsoft
*/

/*FORM*/
.aym_window-content .aym_wrap_form * {text-align: left;}
.aym_window-content .aym_wrap_form h2 {color: #0A556D;font-size: 1.5em;text-align: left;padding: 0 20px;border-bottom: 0;}
.aym_window-content .aym_wrap_form .aym_open_file {color: #0A556D; padding-bottom: 15px; text-align: left; width: 100%;}

/*CROP IMAGES*/
.aym_window-content .aym_frm_images {}
.aym_window-content .aym_frm_images .aym_frm_image {background: 0 !important; border: 0 !important; cursor: unset !important; height: auto;}
.aym_window-content .aym_frm_images .aym_frm_image > span {align-items: center; border-radius: 50%; display: inline-flex; font-size: 3em; font-weight: bold; height: 200px; justify-content: center; left: calc(50% - 100px); position: absolute; top: 0; width: 200px;}
.aym_window-content .aym_frm_images .cr-image  {width: auto;}
.aym_window-content .aym_frm_images .cr-boundary.uploaded:after {align-items: center; background: rgba(48,174,220,0.5); border-radius: 50%; color: #fff; content: '\f00c'; display: flex; font-family: 'Font Awesome 5 Free'; font-size: 5em; font-weight: 900; height: 100%; justify-content: center; left: 0; position: absolute; top: 0; width: 100%; z-index: 999;}
.aym_window-content .aym_frm_images .cr-slider  {width: 100% !important; cursor: pointer;}

.aym_open_file.disabled, 
.cr-slider-wrap.disabled {opacity: 0 !important; visibility: hidden !important;}

/*BUTTON CROP*/
.aym_button_crop.disabled {opacity: 0.3;}